.fes4-title-cont
    .fes4-box-icon
        .icon.icon-basic-picture
    h3
        span.bold PHOTOGRAPHY
    p LOREM IPSUM DOLOR
div
    | Fermentum nisi in sem fertum blat. In elit soldin, elemtum, arenam pur quam volutpat suscipit dictum pur quam.