.fes4-title-cont
    .fes4-box-icon
        .icon.icon-basic-share
    h3
        span.bold PRODUCTION
    p LOREM IPSUM DOLOR
div
    | Seductio maesto nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.