.fes4-title-cont
    .fes4-box-icon
        .icon.icon-basic-globe
    h3
        span.bold WEB DESIGN
    p LOREM IPSUM DOLOR
div
    | Lorem luctus antena at nisi in sem blandit. In nec elit soltudin, elementum odio et, dictum quam a volutpat elementum.