.fes8-title-cont
    .fes8-box-icon
        .icon.icon-basic-laptop
    h3 RESPONSIVE LAYOUT
div
    | Donec vel luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.