include ./../../layouts/mixin.jade

.page-title-cont.page-title-large.grey-dark-bg.page-title-img.pt-250(style='background-image: url(images/about-me.jpg)')
    .relative.container.align-left
        .row
            .col-md-8
                h1.page-title
                    +content('about_header/_content_title.htm')
                .page-sub-title
                    +content('about_header/_content_subtitle.htm')
            .col-md-4
                .breadcrumbs
                    +content('about_header/_content_breadcrumbs.htm')
