include ./../../layouts/mixin.jade

.page-section.fes4-cont
    .container
        .row
            .col-xs-12.col-sm-4.col-md-4
                .fes8-box.wow.fadeIn
                    +content('about_row4/_content_item1.htm')

            .col-xs-12.col-sm-4.col-md-4
                .fes8-box.wow.fadeIn(data-wow-delay='200ms')
                    +content('about_row4/_content_item2.htm')

            .col-xs-12.col-sm-4.col-md-4
                .fes8-box.wow.fadeIn(data-wow-delay='400ms')
                    +content('about_row4/_content_item3.htm')

        .row
            .col-xs-12.col-sm-4.col-md-4
                .fes8-box.wow.fadeIn(data-wow-delay='600ms')
                    +content('about_row4/_content_item4.htm')

            .col-xs-12.col-sm-4.col-md-4
                .fes8-box.wow.fadeIn(data-wow-delay='800ms')
                    +content('about_row4/_content_item5.htm')

            .col-xs-12.col-sm-4.col-md-4
                .fes8-box.wow.fadeIn(data-wow-delay='1000ms')
                    +content('about_row4/_content_item6.htm')

        .row
            .col-xs-12.col-sm-4.col-md-4
                .fes8-box.wow.fadeIn(data-wow-delay='600ms')
                    +content('about_row4/_content_item7.htm')

            .col-xs-12.col-sm-4.col-md-4
                .fes8-box.wow.fadeIn(data-wow-delay='800ms')
                    +content('about_row4/_content_item8.htm')

            .col-xs-12.col-sm-4.col-md-4
                .fes8-box.wow.fadeIn(data-wow-delay='1000ms')
                    +content('about_row4/_content_item9.htm')
