a.work-prev(href='#')
    span
        span.icon.icon-arrows-left
        | &nbsp;Prev
a.work-all(href='portfolio-wide-4col.html', title='View all')
    span.icon.icon-arrows-squares
a.work-next(href='#')
    span
        | Next&nbsp;
        span.icon.icon-arrows-right