include ./../../layouts/mixin.jade

.container
    .row.mb-80
        // SIDEBAR
        .col-sm-4.col-md-3
            h2.section-title-3.mb-30
                +content('portfolio_item1/_content_title.htm')
            .mb-50
                p
                    +content('portfolio_item1/_content_desc.htm')
        // CONTENT
        .col-sm-8.col-md-offset-1
            .row
                // ITEM
                .col-md-6.plr-0.lightbox-item
                    +content('portfolio_item1/_content_subitem1.htm')

                // ITEM
                .col-md-6.plr-0.lightbox-item
                    +content('portfolio_item1/_content_subitem2.htm')

                // ITEM
                .col-md-6.plr-0.lightbox-item
                    +content('portfolio_item1/_content_subitem3.htm')

                // ITEM
                .col-md-6.plr-0.lightbox-item
                    +content('portfolio_item1/_content_subitem4.htm')

                // ITEM
                .col-md-6.plr-0.lightbox-item
                    +content('portfolio_item1/_content_subitem5.htm')

                // ITEM
                .col-md-6.plr-0.lightbox-item
                    +content('portfolio_item1/_content_subitem6.htm')

// DIVIDER
hr.mt-0.mb-80