
<div id="counter-1" class="page-section p-80-cont">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-6 col-sm-3">

{% content "home_data/_content_item1.htm" %}


      </div>
      <div class="col-xs-6 col-sm-3">

{% content "home_data/_content_item2.htm" %}


      </div>
      <div class="col-xs-6 col-sm-3">

{% content "home_data/_content_item3.htm" %}


      </div>
      <div class="col-xs-6 col-sm-3">

{% content "home_data/_content_item4.htm" %}


      </div>
    </div>
  </div>
</div>