
<div id="about" class="page-section">
  <div class="container fes1-cont">
    <div class="row">
      <div class="col-md-4 fes1-img-cont wow fadeInUp mb-20">

{% content "home_about/_content_img.htm" %}


      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="fes1-main-title-cont wow fadeInDown">
              <div class="title-fs-60">

{% content "home_about/_content_title.htm" %}


              </div>
              <div class="line-3-100"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="fes1-box wow fadeIn">

{% content "home_about/_content_item1.htm" %}


            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div data-wow-delay="200ms" class="fes1-box wow fadeIn">

{% content "home_about/_content_item2.htm" %}


            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div data-wow-delay="400ms" class="fes1-box wow fadeIn">

{% content "home_about/_content_item3.htm" %}


            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div data-wow-delay="600ms" class="fes1-box wow fadeIn">

{% content "home_about/_content_item4.htm" %}


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>