
<div id="intro" class="relative">
  <div class="rs-fullscr-container">
    <div id="rs-fullscr" class="tp-banner">
      <ul>

{% content "home_intro/_content_slide1.htm" %}



{% content "home_intro/_content_slide2.htm" %}



{% content "home_intro/_content_slide3.htm" %}


      </ul>
    </div>
  </div>
  <!-- SCROLL ICON-->
  <div class="local-scroll-cont"><a href="{{ 'home'|page }}/#about" title="Veja em baixo" class="scroll-down smooth-scroll">
      <div class="icon icon-arrows-down"></div></a></div>
</div>