
<div class="page-section p-110-cont">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="cis-cont">
          <div class="cis-icon">
            <div class="icon icon-basic-map"></div>
          </div>
          <div class="cis-text">
            <h3><span class="bold">ADDRESS</span></h3>
            <p>790 FOLSOM AVE, SAN FRANCISCO</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="cis-cont">
          <div class="cis-icon">
            <div class="icon icon-basic-mail"></div>
          </div>
          <div class="cis-text">
            <h3><span class="bold">EMAIL</span></h3>
            <p><a href="mailto:info@haswell.com">INFO@HASWELL.COM</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="cis-cont">
          <div class="cis-icon">
            <div class="icon icon-basic-smartphone"></div>
          </div>
          <div class="cis-text">
            <h3><span class="bold">CALL US</span></h3>
            <p>1-800-312-212, 1-800-311-101</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- GOOGLE MAP & CONTACT FORM-->
<div class="page-section gray-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div id="google-map" data-address="555 California Street Building, California Street, San Francisco, CA"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-form-cont">
          <!-- TITLE-->
          <div class="mb-40">
            <h2 class="section-title">CONTACT<span class="bold">US</span></h2>
          </div>
          <!-- CONTACT FORM-->
          <div>
            <form id="contact-form" action="php/contact-form.php" method="POST">
              <div class="row">
                <div class="col-md-12 mb-30">
                  <!-- <label>Your name *</label>-->
                  <input id="name" type="text" value="" data-msg-required="Please enter your name." maxlength="100" name="name" placeholder="NAME" required="" class="form-control"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-30">
                  <!-- <label>Your email address *</label>-->
                  <input id="email" type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" name="email" placeholder="EMAIL" required="" class="form-control"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-40">
                  <!-- <label>Message *</label>-->
                  <textarea id="message" maxlength="5000" data-msg-required="Please enter your message." rows="3" name="message" placeholder="MESSAGE" required="" class="form-control"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="submit" value="SEND MESSAGE" data-loading-text="Loading..." class="button medium gray"/>
                </div>
              </div>
            </form>
            <div id="contactSuccess" class="alert alert-success hidden"><strong>Success!</strong> Your message has been sent to us.</div>
            <div id="contactError" class="alert alert-danger hidden"><strong>Error!</strong> There was an error sending your message.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER 1-->
<footer id="footer1" class="page-section text-center pt-100-b-80-cont">
  <div class="container">
    <!-- Social Links-->
    <div class="footer-soc-a"><a href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a><a href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a><a href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel" title="Behance" target="_blank"><i class="fa fa-behance"></i></a><a href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a><a href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a></div>
    <!-- Copyright-->
    <div class="footer-copy"><a href="http://themeforest.net/user/abcgomel/portfolio" target="_blank">&copy; HASWELL 2015</a></div>
  </div>
</footer>
<!-- BACK TO TOP-->
<p id="back-top"><a href="#top" title="Back to Top"><span class="icon icon-arrows-up"></span></a></p>