
<div id="service" class="page-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft equal-height">
        <div class="fes2-main-text-cont">
          <div class="title-fs-45">

{% content "home_service/_content_title1.htm" %}


          </div>
          <div class="line-3-70"></div>
          <div class="fes2-text-cont">

{% content "home_service/_content_subtitle1.htm" %}


          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="fes2-img equal-height"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 left-50 wow fadeInRight equal-height">
        <div class="fes2-main-text-cont">
          <div class="title-fs-45">

{% content "home_service/_content_title2.htm" %}


          </div>
          <div class="line-3-100"></div>
          <div class="fes2-text-cont">

{% content "home_service/_content_subtitle2.htm" %}


          </div>
        </div>
      </div>
      <div class="col-md-6 right-50">
        <div class="row">
          <div class="fes3-img equal-height"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="border-top:1px solid #eee" class="clear"></div>
<div class="page-section fes4-cont">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="fes4-box wow fadeIn">
          <h2 class="section-title">

{% content "home_service/_content_title3.htm" %}


          </h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div data-wow-delay="200ms" class="fes4-box wow fadeIn">

{% content "home_service/_content_item1.htm" %}


        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div data-wow-delay="400ms" class="fes4-box wow fadeIn">

{% content "home_service/_content_item2.htm" %}


        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div data-wow-delay="600ms" class="fes4-box wow fadeIn">

{% content "home_service/_content_item3.htm" %}


        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div data-wow-delay="800ms" class="fes4-box wow fadeIn">

{% content "home_service/_content_item4.htm" %}


        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div data-wow-delay="1000ms" class="fes4-box wow fadeIn">

{% content "home_service/_content_item5.htm" %}


        </div>
      </div>
    </div>
  </div>
</div>