==
<div class="page-section about-us-2-cont pt-100-cont">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-40">
          <h2 class="section-title">

{% content "home_team/_content_title.htm" %}


          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div data-wow-duration="1s" class="col-md-12 text-center wow fadeInUp">

{% content "home_team/_content_img.htm" %}


      </div>
    </div>
  </div>
  <div class="port-view-more-cont"><a href="{{ 'about'|page }}" class="port-view-more-inv">

{% content "home_team/_content_calltoaction.htm" %}

</a></div>
</div>