
<div class="page-section p-110-cont">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-50">
          <h2 class="section-title">

{% content "home_client/_content_title.htm" %}


          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="row client-row border-bot">
          <div class="col-xs-6 col-sm-3 text-center">

{% content "home_client/_content_item1.htm" %}


          </div>
          <div class="col-xs-6 col-sm-3 text-center">

{% content "home_client/_content_item2.htm" %}


          </div>
          <div class="col-xs-6 col-sm-3 text-center">

{% content "home_client/_content_item3.htm" %}


          </div>
          <div class="col-xs-6 col-sm-3 text-center">

{% content "home_client/_content_item4.htm" %}


          </div>
        </div>
        <div class="row client-row">
          <div class="col-xs-6 col-sm-3 text-center">

{% content "home_client/_content_item5.htm" %}


          </div>
          <div class="col-xs-6 col-sm-3 text-center">

{% content "home_client/_content_item6.htm" %}


          </div>
          <div class="col-xs-6 col-sm-3 text-center">

{% content "home_client/_content_item7.htm" %}


          </div>
          <div class="col-xs-6 col-sm-3 text-center">

{% content "home_client/_content_item8.htm" %}


          </div>
        </div>
      </div>
      <div class="col-md-5">
        <blockquote class="quote mb-0 pl-50-min-1169">
          <p>

{% content "home_client/_content_comment.htm" %}


          </p>
          <footer>

{% content "home_client/_content_author.htm" %}


          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>