==
<div class="container mb-80">
  <div class="fullwidth-slider owl-carousel owl-arrows-bg owl-dark-bg owl-pag-2">
    
    <div class="item m-0">
      <div>
<!--Primeira imagem -->
<img src="/themes/inovar/assets/images/proj/sala1_lourdes_inovar_moveisbh.jpg"  alt="Inovar Moveis BH | Aparador, painel e portas" title="Sala aconchegante | Móveis planejados executados pela Inovar Móveis BH" usemap="#Sala"/>

<map name="Sala">
    <area shape="rect" coords="360,25,712,419" alt="" title="Painel para TV 100%MDF acab. madeirado" href="#" />
    <area shape="poly" coords="371,420,869,418,941,446,944,493,324,495,322,446" alt="" title="Aparador 100%MDF laqueado" href="#" />
  <area shape="poly" coords="331,550,316,568,316,628,740,626,738,566,702,512,368,509" alt="" title="Aparador 100%MDF laqueado" href="#" /> 
  <area shape="poly" coords="74,35,357,36,358,424,319,447,324,497,358,494,325,550,71,557" alt="" title="Porta e alisares 100%MDF laqueado" href="#" />
  <area shape="poly" coords="882,33,1043,36,1045,554,879,555,878,492,943,493,944,445,878,422" title="Porta e alisares 100%MDF laqueado" href="#"/>
  
</map>

      </div>
    </div>

<!--Segunda imagem -->
    <div class="item m-0">
      <div>

<img src="/themes/inovar/assets/images/proj/sala2_lourdes_inovar_moveisbh.jpg" alt="Inovar Moveis BH | Sala bairro de Lourdes" title="Sala ap. Lourdes | Móveis planejados executados pela Inovar Móveis BH" usemap="#Sala2"/>

<map name="Sala2">
    <area shape="poly" coords="1021,13,486,124,488,144,520,162,529,171,950,105,948,625,956,641,1019,639" alt="" title="Marco em madeira 100%MDF acabamento texturado" href="#"/>
    <area shape="rect" coords="435,252,458,449" alt="" title="Marco em madeira 100%MDF acabamento texturado" href="#"/>
    
</map>

      </div>
    </div>
<!--3 imagem -->
    
    <div class="item m-0">
      <div>

<img src="/themes/inovar/assets/images/proj/cozinha2_planejada_lourdes_inovar_moveisbh.jpg" alt="Inovar Moveis BH | Cozinha Planejada | bairro de Lourdes" title="Cozinha sobmedida | Móveis executados pela Inovar Móveis BH" usemap="#Coz1"/>
<!--map para a desc. dos moveis -->
<map name="Coz1">
    <area shape="poly" coords="177,360,597,359,740,637,632,641,599,507,249,506,252,411,218,428,170,429" alt="" title="Armário 100%MDF puxadores em metal" href="#"/>
  <area shape="poly" coords="629,115,698,4,1138,5,1140,129,690,232,630,235" alt="" title="Armário superior MDF portas em vidro, puxadores em metal" href="#"/> 
  <area shape="poly" coords="3,33,158,99,156,241,1,223" alt="" title="Armário Superior 100%MDF portas de vidro">
    
</map>

      </div>
    </div>

<!--4 imagem -->

    <div class="item m-0">
      <div>

<img src="/themes/inovar/assets/images/proj/cozinha3_planejada_lourdes_inovar_moveisbh.jpg" alt="Inovar Moveis BH | Sala bairro de Lourdes" title="Detalhes Cozinha sobmedida | Móveis executados pela Inovar Móveis BH" usemap="#Coz2"/>


      </div>
    </div>
  </div>
</div>