
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="port-detail-cont mb-30">
        <h4 class="blog-page-title mt-0 mb-20">
<!--Title-->
FICHA TÉCNICA
        </h4>
        
        <div class="port-detail">

<!--Lista-->
<p><strong>CLIENTE:</strong>ELAINE E PASSOS</p>
<p><strong>PROJETO:</strong><a href="http://simoneheringer.com.br/" target="_blank" title="Conheça mais sobre Simone Heringer">SIMONE HERINGER</a> DESIGNER</p>
<p><strong>EXECUÇÃO</strong> INOVAR MÓVEIS</p>
<p><strong>MATERIAIS:</strong>100%MDF</p>
<p><strong>ACABAMEN:</strong> PRINCIPAIS LACA E MADEIRADOS.</p>
<p><strong>FOTOS:</strong><a href="http://dropr.com/thiagocostoli" target="_blank" title="Vai o site do fotográfo Thiago Costoli"> THIAGO COSTOLI</p></a>

        </div>
      </div>
    </div>
    <div class="col-md-8 mb-80">

<!--Desc.-->
<p>Um grande projeto um ótimo desafio! </p>
<p>Tivemos o prazer de executar este projeto com muitas particularidades. Desenvolvemos as portas os paineis em Laca. Os alisares e marcos. O projeto da cozinha muito bem desenvolvido. Veja as imagens e navegue para saber mais sobre o que desenvolvemos. </p>

    </div>
  </div>
</div>