
<div class="page-section p-60-cont owl-white-bg fullwidth-slider">
  <div class="owl-white-bg fullwidth-slider p-50-cont">
    <div class="container relative">
      <div class="row">
        <div class="col-md-7">
          <blockquote class="testimonial-2">
            <p>

<!--Testemunho 1-->
O trabalho da Inovar Móveis é excelente. 

            </p>
          </blockquote>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <div class="ts-author-cont">

            <div class="ts-author-info">
              <div class="ts-name"><span class="bold">Elaine e Passos</span></div>
                <div class="ts-type">CEO Company</div>
              </div>
              <div class="ts-author-img"><img src="/themes/inovar/assets/images/ts-author-2.png" alt="photo"/></div>

          </div>
        </div>
      </div>
    </div>
    <div class="container relative">
      <div class="row">
        <div class="col-md-7">
          <blockquote class="testimonial-2">
            <p>

<!--Testemunho 2-->
O trabalho da Inovar Móveis é excelente. 


            </p>
          </blockquote>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <div class="ts-author-cont">

            <div class="ts-author-info">
              <div class="ts-name"><span class="bold">Elaine e Passos</span></div>
                <div class="ts-type">CEO Company</div>
              </div>
              <div class="ts-author-img"><img src="/themes/inovar/assets/images/ts-author-2.png" alt="photo"/></div>


          </div>
        </div>
      </div>
    </div>
    <div class="container relative">
      <div class="row">
        <div class="col-md-7">
          <blockquote class="testimonial-2">
            <p>

<!--Testemunho 3-->
O trabalho da Inovar Móveis é excelente. 


            </p>
          </blockquote>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <div class="ts-author-cont">

            <div class="ts-author-info">
              <div class="ts-name"><span class="bold">Elaine e Passos</span></div>
                <div class="ts-type">CEO Company</div>
              </div>
              <div class="ts-author-img"><img src="/themes/inovar/assets/images/ts-author-2.png" alt="photo"/></div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>