
<div id="about" class="page-section p-110-cont">
  <div class="container">
    <div class="row">
      <!-- TESTIMONIALS-->
      <div class="col-md-4 pt-30 pb-40">

{% content "about_row2/_content_skill1.htm" %}



{% content "about_row2/_content_skill2.htm" %}



{% content "about_row2/_content_skill3.htm" %}


      </div>
      <!-- FEATURES-->
      <div class="col-md-8 col-lg-7 col-lg-offset-1">
        <div class="row">
          <div class="col-md-6 col-sm-6 pb-10">
            <div class="fes5-box wow fadeIn">

{% content "about_row2/_content_item1.htm" %}


            </div>
          </div>
          <div class="col-md-6 col-sm-6 pb-10">
            <div data-wow-delay="200ms" class="fes5-box wow fadeIn">

{% content "about_row2/_content_item2.htm" %}


            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 pb-10">
            <div data-wow-delay="400ms" class="fes5-box wow fadeIn">

{% content "about_row2/_content_item3.htm" %}


            </div>
          </div>
          <div class="col-md-6 col-sm-6 pb-10">
            <div data-wow-delay="600ms" class="fes5-box wow fadeIn">

{% content "about_row2/_content_item4.htm" %}


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>