
<div class="page-section fes4-cont">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="fes8-box wow fadeIn">

{% content "about_row4/_content_item1.htm" %}


        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div data-wow-delay="200ms" class="fes8-box wow fadeIn">

{% content "about_row4/_content_item2.htm" %}


        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div data-wow-delay="400ms" class="fes8-box wow fadeIn">

{% content "about_row4/_content_item3.htm" %}


        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div data-wow-delay="600ms" class="fes8-box wow fadeIn">

{% content "about_row4/_content_item4.htm" %}


        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div data-wow-delay="800ms" class="fes8-box wow fadeIn">

{% content "about_row4/_content_item5.htm" %}


        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div data-wow-delay="1000ms" class="fes8-box wow fadeIn">

{% content "about_row4/_content_item6.htm" %}


        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div data-wow-delay="600ms" class="fes8-box wow fadeIn">

{% content "about_row4/_content_item7.htm" %}


        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div data-wow-delay="800ms" class="fes8-box wow fadeIn">

{% content "about_row4/_content_item8.htm" %}


        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div data-wow-delay="1000ms" class="fes8-box wow fadeIn">

{% content "about_row4/_content_item9.htm" %}


        </div>
      </div>
    </div>
  </div>
</div>