
<div style="background-image: url(images/about-me.jpg)" class="page-title-cont page-title-large grey-dark-bg page-title-img pt-250">
  <div class="relative container align-left">
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-title">

{% content "about_header/_content_title.htm" %}


        </h1>
        <div class="page-sub-title">

{% content "about_header/_content_subtitle.htm" %}


        </div>
      </div>
      <div class="col-md-4">
        <div class="breadcrumbs">

{% content "about_header/_content_breadcrumbs.htm" %}


        </div>
      </div>
    </div>
  </div>
</div>