include ./../../layouts/mixin.jade
.page-section
    .container
        .row
            .col-md-6
                .fes2-main-text-cont
                    +content('home_cta2/_content_content.htm')
            .col-md-6.wow.fadeInRight
                .ads-img-cont
                    +content('home_cta2/_content_img.htm')


