include ./../../layouts/mixin.jade
.page-section
    .container
        .row
            .col-md-6.left-50
                .fes2-main-text-cont
                    +content('home_cta1/_content_content.htm')

            .col-md-6.right-50.wow.fadeInLeft
                .ads-img-cont
                    +content('home_cta1/_content_img.htm')