include ./../../layouts/mixin.jade
#projects.page-section
    .relative
        ul#items-grid.port-grid.port-grid-3.port-grid-gut.clearfix
            li.port-item.mix
                +content('home_project/_content_prog1_img.htm')
                +content('home_project/_content_prog1_hover.htm')

            li.port-item.mix
                +content('home_project/_content_prog2_img.htm')
                +content('home_project/_content_prog2_hover.htm')

            li.port-item.mix
                +content('home_project/_content_prog3_img.htm')
                +content('home_project/_content_prog3_hover.htm')

    .port-view-more-cont
        +content('home_project/_content_calltoaction.htm')

.mt-0.mb-0
