include ./../../layouts/mixin.jade
.page-section
    .work-proc-1-bg
        .container.fes4-cont
            .row
                .col-md-4
                    .mb-50
                        h2.section-title
                            +content('home_process/_content_title.htm')

                    p.mb-50
                        +content('home_process/_content_desc.htm')
                .col-md-7.col-lg-offset-1
                    .row
                        .col-xs-12.col-sm-6.col-md-6
                            .fes4-box
                                .fes4-title-cont
                                    +content('home_process/_content_item1.htm')
                        .col-xs-12.col-sm-6.col-md-6
                            .fes4-box
                                .fes4-title-cont
                                    +content('home_process/_content_item2.htm')
                    .row
                        .col-xs-12.col-sm-6.col-md-6
                            .fes4-box
                                .fes4-title-cont
                                    +content('home_process/_content_item3.htm')
                        .col-xs-12.col-sm-6.col-md-6
                            .fes4-box
                                .fes4-title-cont
                                    +content('home_process/_content_item4.htm')

