include ./../../layouts/mixin.jade
#counter-1.page-section.p-80-cont
    .container
        .row.text-center
            .col-xs-6.col-sm-3
                +content('home_data/_content_item1.htm')
            .col-xs-6.col-sm-3
                +content('home_data/_content_item2.htm')
            .col-xs-6.col-sm-3
                +content('home_data/_content_item3.htm')
            .col-xs-6.col-sm-3
                +content('home_data/_content_item4.htm')