span.video-ads-text BE CREATIVE
    span.video-ads-a
        a.popup-youtube(href='https://www.youtube.com/watch?v=0gv7OC9L2s8')
            span.icon.icon-music-play-button
    span.video-ads-text WITH HASWELL