.port-overlay-cont
    .port-title-cont
        h3
            a(href='portfolio-single1.html', title="") CALENDAR
        span
            | ui elements ui elements ui elementsui elements ui elements ui elements

    .port-btn-cont
        a.lightbox.mr-20(href="themes/inovar/assets/images/portfolio/projects-2-big.jpg", title="")
            .icon_search(aria-hidden='true')
        a(href='portfolio-single1.html', title="")
            .icon_link(aria-hidden='true')