
<header id="nav" class="header header-1 no-transparent mobile-no-transparent">
  <div class="header-wrapper">
    <div class="container-m-30 clearfix">
      <div class="logo-row">
        <!-- LOGO-->
        <div class="logo-container-2">
          <div class="logo-2"><a href="{{ 'home'|page }}/#intro" class="clearfix"><img src="{{ 'assets/images/logo.png'|theme}}" alt="Logo" class="logo-img"/></a></div>
        </div>
        <!-- BUTTON-->
        <div class="menu-btn-respons-container">
          <button type="button" data-toggle="collapse" data-target="#main-menu .navbar-collapse" class="navbar-toggle btn-navbar collapsed"><span aria-hidden="true" class="icon_menu hamb-mob-icon"></span></button>
        </div>
      </div>
    </div>
    <!-- MAIN MENU CONTAINER-->
    <div class="main-menu-container">
      <div class="container-m-30 clearfix">
        <!-- MAIN MENU-->
        <div id="main-menu">
          <div role="navigation" class="navbar navbar-default">
            <!-- MAIN MENU LIST-->
            <nav class="collapse collapsing navbar-collapse right-1024">
              <ul class="nav navbar-nav">
                <li class="parent current"><a href="{{ 'home'|page }}/#intro" title="">
                    <div class="main-menu-title">HOME</div></a></li>
                <li class="parent"><a href="{{ 'home'|page }}/#about" title="">
                    <div class="main-menu-title">SOBRE</div></a></li>
                <li class="parent"><a href="{{ 'home'|page }}/#service" title="">
                    <div class="main-menu-title">SERVIÇOS</div></a></li>
                <li class="parent"><a href="{{ 'home'|page }}/#projects" title="">
                    <div class="main-menu-title">PROJECTS</div></a></li>
                <li class="parent"><a href="{{ 'home'|page }}/#contact" title="">
                    <div class="main-menu-title">CONTACT</div></a></li>
                <li data-link="faq" class="parent"><a href="{{ 'faq'|page }}" title="">
                    <div class="main-menu-title">FAQs</div></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>