
<div id="contact" class="page-section p-110-cont">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="cis-cont">
          <div class="cis-icon">
            <div class="icon icon-basic-map"></div>
          </div>
          <div class="cis-text">
            <h3><span class="bold">ENDEREÇO</span></h3>
            <p>790 FOLSOM AVE, SAN FRANCISCO</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="cis-cont">
          <div class="cis-icon">
            <div class="icon icon-basic-mail"></div>
          </div>
          <div class="cis-text">
            <h3><span class="bold">EMAIL</span></h3>
            <p><a href="mailto:'INFO@HASWELL.COM'" title="mail_title">INFO@HASWELL.COM</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="cis-cont">
          <div class="cis-icon">
            <div class="icon icon-basic-smartphone"></div>
          </div>
          <div class="cis-text">
            <h3><span class="bold">TELEFONE</span></h3>
            <p>1-800-312-212, 1-800-311-101</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- GOOGLE MAP & CONTACT FORM-->
<div class="page-section gray-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div id="googleMap"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-form-cont">
          <!-- TITLE-->
          <div class="mb-40">
            <h2 class="section-title">ENTRE EM CONTATO<span class="bold">CONOSCO</span></h2>
          </div>
          <!-- CONTACT FORM-->
          <div>

{% component "simpleContact" %}


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER 1-->
<footer id="footer1" class="page-section text-center pt-100-b-80-cont">
  <div class="container">
    <!-- Social Links-->
    <div class="footer-soc-a"><a href="http://" title="facebbok" target="_blank"><i class="fa fa-facebook"></i></a><a href="http://" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a><a href="http://" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a><a href="http://" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></div>
    <!-- Copyright-->
    <div class="footer-copy"><a href="http://atemporale.it" title="ATEMPORALE DESIGN - ESTRATÉGIAS CRIATIVAS DE COMUNICAÇÃO E DESIGN" target="_blank">Todos os direitos reservados - Créditos: Atemporale Design </a></div>
  </div>
</footer>
<!-- BACK TO TOP-->
<p id="back-top"><a href="#top" title="Back to Top"><span class="icon icon-arrows-up"></span></a></p>