.title-fs-45
    | POWERFUL<br /><span class="bold">OPTIONS</span>
.line-3-100
.fes2-text-cont
    | Sed ut perspiciatis unde omnis iste nat eror acus  antium que. Asperiores, ea velit enim labore doloribus.
.mt-30
    a.button.medium.thin.hover-dark(href='http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel',title="") BUY NOW
