p
    strong CLIENT:
    | ENVATO
p
    strong DATE:
    | 10 OCTOBER, 2016
p
    strong CATEGORY:
    a(href='#') DESIGN
    | ,
    a(href='#') DEVELOPMENT
    | ,
    a(href='#') PHOTO
p
    strong ONLINE:
    a(href='http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel', target='_blank') WWW.ABC-STUDIO.COM