include ./../../layouts/mixin.jade

.container.mb-80
    .fullwidth-slider.owl-carousel.owl-arrows-bg.owl-dark-bg.owl-pag-2
        .item.m-0
            div
                +content('project_gallery/_content_img1.htm')

        .item.m-0
            div
                +content('project_gallery/_content_img2.htm')

        .item.m-0
            div
                +content('project_gallery/_content_img3.htm')

