include ./../../layouts/mixin.jade

.page-section.p-60-cont.owl-white-bg.fullwidth-slider
    .owl-white-bg.fullwidth-slider.p-50-cont
        .container.relative
            .row
                .col-md-7
                    blockquote.testimonial-2
                        p
                            +content('project_testimony/_content_text1.htm')

                .col-md-4.col-md-offset-1
                    .ts-author-cont
                        +content('project_testimony/_content_author1.htm')

        .container.relative
            .row
                .col-md-7
                    blockquote.testimonial-2
                        p
                            +content('project_testimony/_content_text2.htm')

                .col-md-4.col-md-offset-1
                    .ts-author-cont
                        +content('project_testimony/_content_author2.htm')

        .container.relative
            .row
                .col-md-7
                    blockquote.testimonial-2
                        p
                            +content('project_testimony/_content_text3.htm')

                .col-md-4.col-md-offset-1
                    .ts-author-cont
                        +content('project_testimony/_content_author2.htm')
