include ./../layouts/mixin.jade
+infopage('FAQ','/faq','default','Página inicial do site')

+endinfofile()

+section('styles')
+endsection()

+section('scripts')
+endsection()


+section('pages')
.page-title-cont.page-title-small
    .relative.container.align-left
        .row
            .col-md-8
                h1.page-title FULL WIDTH LAYOUT
            .col-md-4
                .breadcrumbs
                    a(href='index.html', title="") Home
                    span.slash-divider /
                    a(href='#', title="") PAGES &amp; FEATURES
                    span.slash-divider /
                    span.bread-current FULL WIDTH LAYOUT

.container.p-110-cont
    .row
        .col-md-12
            dl.accordion
                dt
                    a(href='#', title="") WHAT IS HTML?
                dd
                    | HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages.
                dt
                    a(href='#', title="") WHAT IS TWITTER BOOTSTRAP?
                dd
                    | Twitter Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions.
                dt
                    a(href='#', title="") WHAT IS CSS?
                dd
                    | CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc.
                dt
                    a(href='#', title="") HOW DO I BECOME AN AUTHOR?
                dd
                    | CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc.
                dt
                    a(href='#', title="") WHAT CONTENT CAN I USE IN MY ITEMS?
                dd
                    | CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc.
                dt
                    a(href='#', title="") HOW DO I PAY FOR ITEMS?
                dd
                    | CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc.

+endsection()
