a(href='portfolio-single1.html')
    .port-img-overlay
        img.port-main-img(src='/themes/inovar/assets/images/portfolio/projects-5.jpg', alt='img')
.port-overlay-cont
    .port-title-cont
        h3
            a(href='portfolio-single1.html') MINIMALISM BOOKS
        span
            a(href='#') ui elements
            span.slash-divider /
            a(href='#') media
    .port-btn-cont
        a.lightbox.mr-20(href='/themes/inovar/assets/images/portfolio/projects-2-big.jpg')
            .icon_search(aria-hidden='true')
        a(href='portfolio-single1.html')
            .icon_link(aria-hidden='true')